@import url('https://fontapi.pages.dev/css/global.css');

body {
  font-family: system-ui, sans-serif;
  padding: 2rem;
  background: #f5f5f5;
}

/* Override Material tokens */
:root {
  --wd-sys-color-primary: #000;
  --wd-sys-color-secondary: #ff9800;
  --wd-ref-typeface-brand: 'Jupiter Sans';
  --wd-ref-typeface-plain: 'Kilroy';
}
