.dark {
  --wd-sys-color-primary: rgb(255 255 255);
  --wd-sys-color-surface-tint: rgb(198 198 199);
  --wd-sys-color-on-primary: rgb(47 49 49);
  --wd-sys-color-primary-container: rgb(226 226 226);
  --wd-sys-color-on-primary-container: rgb(99 101 101);
  --wd-sys-color-secondary: rgb(200 198 197);
  --wd-sys-color-on-secondary: rgb(48 48 48);
  --wd-sys-color-secondary-container: rgb(33 33 33);
  --wd-sys-color-on-secondary-container: rgb(137 136 136);
  --wd-sys-color-tertiary: rgb(181 200 230);
  --wd-sys-color-on-tertiary: rgb(31 49 73);
  --wd-sys-color-tertiary-container: rgb(38 56 80);
  --wd-sys-color-on-tertiary-container: rgb(143 161 190);
  --wd-sys-color-error: rgb(255 179 174);
  --wd-sys-color-on-error: rgb(97 17 19);
  --wd-sys-color-error-container: rgb(255 137 131);
  --wd-sys-color-on-error-container: rgb(118 33 33);
  --wd-sys-color-background: rgb(20 19 19);
  --wd-sys-color-on-background: rgb(229 226 225);
  --wd-sys-color-surface: rgb(20 19 19);
  --wd-sys-color-on-surface: rgb(229 226 225);
  --wd-sys-color-surface-variant: rgb(68 71 72);
  --wd-sys-color-on-surface-variant: rgb(196 199 199);
  --wd-sys-color-outline: rgb(142 145 146);
  --wd-sys-color-outline-variant: rgb(68 71 72);
  --wd-sys-color-shadow: rgb(0 0 0);
  --wd-sys-color-scrim: rgb(0 0 0);
  --wd-sys-color-inverse-surface: rgb(229 226 225);
  --wd-sys-color-inverse-on-surface: rgb(49 48 48);
  --wd-sys-color-inverse-primary: rgb(93 95 95);
  --wd-sys-color-primary-fixed: rgb(226 226 226);
  --wd-sys-color-on-primary-fixed: rgb(26 28 28);
  --wd-sys-color-primary-fixed-dim: rgb(198 198 199);
  --wd-sys-color-on-primary-fixed-variant: rgb(69 71 71);
  --wd-sys-color-secondary-fixed: rgb(229 226 225);
  --wd-sys-color-on-secondary-fixed: rgb(27 28 28);
  --wd-sys-color-secondary-fixed-dim: rgb(200 198 197);
  --wd-sys-color-on-secondary-fixed-variant: rgb(71 71 70);
  --wd-sys-color-tertiary-fixed: rgb(211 227 255);
  --wd-sys-color-on-tertiary-fixed: rgb(8 28 51);
  --wd-sys-color-tertiary-fixed-dim: rgb(181 200 230);
  --wd-sys-color-on-tertiary-fixed-variant: rgb(54 72 97);
  --wd-sys-color-surface-dim: rgb(20 19 19);
  --wd-sys-color-surface-bright: rgb(58 57 57);
  --wd-sys-color-surface-container-lowest: rgb(14 14 14);
  --wd-sys-color-surface-container-low: rgb(28 27 27);
  --wd-sys-color-surface-container: rgb(32 31 31);
  --wd-sys-color-surface-container-high: rgb(43 42 42);
  --wd-sys-color-surface-container-highest: rgb(53 52 52);
}
