.dark-high-contrast {
  --wd-sys-color-primary: rgb(255 255 255);
  --wd-sys-color-surface-tint: rgb(198 198 199);
  --wd-sys-color-on-primary: rgb(0 0 0);
  --wd-sys-color-primary-container: rgb(226 226 226);
  --wd-sys-color-on-primary-container: rgb(40 42 43);
  --wd-sys-color-secondary: rgb(242 239 239);
  --wd-sys-color-on-secondary: rgb(0 0 0);
  --wd-sys-color-secondary-container: rgb(196 194 194);
  --wd-sys-color-on-secondary-container: rgb(11 11 11);
  --wd-sys-color-tertiary: rgb(233 240 255);
  --wd-sys-color-on-tertiary: rgb(0 0 0);
  --wd-sys-color-tertiary-container: rgb(177 196 226);
  --wd-sys-color-on-tertiary-container: rgb(0 12 29);
  --wd-sys-color-error: rgb(255 236 234);
  --wd-sys-color-on-error: rgb(0 0 0);
  --wd-sys-color-error-container: rgb(255 174 168);
  --wd-sys-color-on-error-container: rgb(34 0 1);
  --wd-sys-color-background: rgb(20 19 19);
  --wd-sys-color-on-background: rgb(229 226 225);
  --wd-sys-color-surface: rgb(20 19 19);
  --wd-sys-color-on-surface: rgb(255 255 255);
  --wd-sys-color-surface-variant: rgb(68 71 72);
  --wd-sys-color-on-surface-variant: rgb(255 255 255);
  --wd-sys-color-outline: rgb(238 240 241);
  --wd-sys-color-outline-variant: rgb(192 195 196);
  --wd-sys-color-shadow: rgb(0 0 0);
  --wd-sys-color-scrim: rgb(0 0 0);
  --wd-sys-color-inverse-surface: rgb(229 226 225);
  --wd-sys-color-inverse-on-surface: rgb(0 0 0);
  --wd-sys-color-inverse-primary: rgb(70 72 72);
  --wd-sys-color-primary-fixed: rgb(226 226 226);
  --wd-sys-color-on-primary-fixed: rgb(0 0 0);
  --wd-sys-color-primary-fixed-dim: rgb(198 198 199);
  --wd-sys-color-on-primary-fixed-variant: rgb(15 17 18);
  --wd-sys-color-secondary-fixed: rgb(229 226 225);
  --wd-sys-color-on-secondary-fixed: rgb(0 0 0);
  --wd-sys-color-secondary-fixed-dim: rgb(200 198 197);
  --wd-sys-color-on-secondary-fixed-variant: rgb(17 17 17);
  --wd-sys-color-tertiary-fixed: rgb(211 227 255);
  --wd-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --wd-sys-color-tertiary-fixed-dim: rgb(181 200 230);
  --wd-sys-color-on-tertiary-fixed-variant: rgb(0 18 39);
  --wd-sys-color-surface-dim: rgb(20 19 19);
  --wd-sys-color-surface-bright: rgb(81 80 79);
  --wd-sys-color-surface-container-lowest: rgb(0 0 0);
  --wd-sys-color-surface-container-low: rgb(32 31 31);
  --wd-sys-color-surface-container: rgb(49 48 48);
  --wd-sys-color-surface-container-high: rgb(60 59 59);
  --wd-sys-color-surface-container-highest: rgb(72 70 70);
}
