.dark-medium-contrast {
  --wd-sys-color-primary: rgb(255 255 255);
  --wd-sys-color-surface-tint: rgb(198 198 199);
  --wd-sys-color-on-primary: rgb(47 49 49);
  --wd-sys-color-primary-container: rgb(226 226 226);
  --wd-sys-color-on-primary-container: rgb(70 72 72);
  --wd-sys-color-secondary: rgb(222 220 219);
  --wd-sys-color-on-secondary: rgb(38 38 38);
  --wd-sys-color-secondary-container: rgb(146 144 144);
  --wd-sys-color-on-secondary-container: rgb(0 0 0);
  --wd-sys-color-tertiary: rgb(203 221 252);
  --wd-sys-color-on-tertiary: rgb(20 38 62);
  --wd-sys-color-tertiary-container: rgb(128 146 174);
  --wd-sys-color-on-tertiary-container: rgb(0 0 0);
  --wd-sys-color-error: rgb(255 210 206);
  --wd-sys-color-on-error: rgb(82 5 10);
  --wd-sys-color-error-container: rgb(255 137 131);
  --wd-sys-color-on-error-container: rgb(74 0 6);
  --wd-sys-color-background: rgb(20 19 19);
  --wd-sys-color-on-background: rgb(229 226 225);
  --wd-sys-color-surface: rgb(20 19 19);
  --wd-sys-color-on-surface: rgb(255 255 255);
  --wd-sys-color-surface-variant: rgb(68 71 72);
  --wd-sys-color-on-surface-variant: rgb(218 221 221);
  --wd-sys-color-outline: rgb(175 178 179);
  --wd-sys-color-outline-variant: rgb(142 145 145);
  --wd-sys-color-shadow: rgb(0 0 0);
  --wd-sys-color-scrim: rgb(0 0 0);
  --wd-sys-color-inverse-surface: rgb(229 226 225);
  --wd-sys-color-inverse-on-surface: rgb(43 42 42);
  --wd-sys-color-inverse-primary: rgb(70 72 72);
  --wd-sys-color-primary-fixed: rgb(226 226 226);
  --wd-sys-color-on-primary-fixed: rgb(15 17 18);
  --wd-sys-color-primary-fixed-dim: rgb(198 198 199);
  --wd-sys-color-on-primary-fixed-variant: rgb(53 54 55);
  --wd-sys-color-secondary-fixed: rgb(229 226 225);
  --wd-sys-color-on-secondary-fixed: rgb(17 17 17);
  --wd-sys-color-secondary-fixed-dim: rgb(200 198 197);
  --wd-sys-color-on-secondary-fixed-variant: rgb(54 54 54);
  --wd-sys-color-tertiary-fixed: rgb(211 227 255);
  --wd-sys-color-on-tertiary-fixed: rgb(0 18 39);
  --wd-sys-color-tertiary-fixed-dim: rgb(181 200 230);
  --wd-sys-color-on-tertiary-fixed-variant: rgb(37 55 79);
  --wd-sys-color-surface-dim: rgb(20 19 19);
  --wd-sys-color-surface-bright: rgb(69 68 68);
  --wd-sys-color-surface-container-lowest: rgb(8 7 7);
  --wd-sys-color-surface-container-low: rgb(30 29 29);
  --wd-sys-color-surface-container: rgb(40 40 39);
  --wd-sys-color-surface-container-high: rgb(51 50 50);
  --wd-sys-color-surface-container-highest: rgb(62 61 61);
}
