.light-high-contrast {
  --wd-sys-color-primary: rgb(42 44 45);
  --wd-sys-color-surface-tint: rgb(93 95 95);
  --wd-sys-color-on-primary: rgb(255 255 255);
  --wd-sys-color-primary-container: rgb(72 73 74);
  --wd-sys-color-on-primary-container: rgb(255 255 255);
  --wd-sys-color-secondary: rgb(10 10 10);
  --wd-sys-color-on-secondary: rgb(255 255 255);
  --wd-sys-color-secondary-container: rgb(33 33 33);
  --wd-sys-color-on-secondary-container: rgb(216 214 213);
  --wd-sys-color-tertiary: rgb(15 34 57);
  --wd-sys-color-on-tertiary: rgb(255 255 255);
  --wd-sys-color-tertiary-container: rgb(38 56 80);
  --wd-sys-color-on-tertiary-container: rgb(245 247 255);
  --wd-sys-color-error: rgb(91 12 16);
  --wd-sys-color-on-error: rgb(255 255 255);
  --wd-sys-color-error-container: rgb(131 42 41);
  --wd-sys-color-on-error-container: rgb(255 255 255);
  --wd-sys-color-background: rgb(252 248 248);
  --wd-sys-color-on-background: rgb(28 27 27);
  --wd-sys-color-surface: rgb(253 248 248);
  --wd-sys-color-on-surface: rgb(0 0 0);
  --wd-sys-color-surface-variant: rgb(224 227 227);
  --wd-sys-color-on-surface-variant: rgb(0 0 0);
  --wd-sys-color-outline: rgb(41 45 45);
  --wd-sys-color-outline-variant: rgb(70 74 74);
  --wd-sys-color-shadow: rgb(0 0 0);
  --wd-sys-color-scrim: rgb(0 0 0);
  --wd-sys-color-inverse-surface: rgb(49 48 48);
  --wd-sys-color-inverse-on-surface: rgb(255 255 255);
  --wd-sys-color-inverse-primary: rgb(198 198 199);
  --wd-sys-color-primary-fixed: rgb(72 73 74);
  --wd-sys-color-on-primary-fixed: rgb(255 255 255);
  --wd-sys-color-primary-fixed-dim: rgb(49 51 51);
  --wd-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-secondary-fixed: rgb(73 73 73);
  --wd-sys-color-on-secondary-fixed: rgb(255 255 255);
  --wd-sys-color-secondary-fixed-dim: rgb(51 51 50);
  --wd-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-tertiary-fixed: rgb(56 74 99);
  --wd-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --wd-sys-color-tertiary-fixed-dim: rgb(33 52 75);
  --wd-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-surface-dim: rgb(187 184 183);
  --wd-sys-color-surface-bright: rgb(253 248 248);
  --wd-sys-color-surface-container-lowest: rgb(255 255 255);
  --wd-sys-color-surface-container-low: rgb(244 240 239);
  --wd-sys-color-surface-container: rgb(229 226 225);
  --wd-sys-color-surface-container-high: rgb(215 212 211);
  --wd-sys-color-surface-container-highest: rgb(201 198 197);
}
