.light {
  --wd-sys-color-primary: rgb(93 95 95);
  --wd-sys-color-surface-tint: rgb(93 95 95);
  --wd-sys-color-on-primary: rgb(255 255 255);
  --wd-sys-color-primary-container: rgb(241 241 241);
  --wd-sys-color-on-primary-container: rgb(108 110 110);
  --wd-sys-color-secondary: rgb(10 10 10);
  --wd-sys-color-on-secondary: rgb(255 255 255);
  --wd-sys-color-secondary-container: rgb(33 33 33);
  --wd-sys-color-on-secondary-container: rgb(137 136 136);
  --wd-sys-color-tertiary: rgb(15 34 57);
  --wd-sys-color-on-tertiary: rgb(255 255 255);
  --wd-sys-color-tertiary-container: rgb(38 56 80);
  --wd-sys-color-on-tertiary-container: rgb(143 161 190);
  --wd-sys-color-error: rgb(159 63 60);
  --wd-sys-color-on-error: rgb(255 255 255);
  --wd-sys-color-error-container: rgb(255 137 131);
  --wd-sys-color-on-error-container: rgb(118 33 33);
  --wd-sys-color-background: rgb(252 248 248);
  --wd-sys-color-on-background: rgb(28 27 27);
  --wd-sys-color-surface: rgb(253 248 248);
  --wd-sys-color-on-surface: rgb(28 27 27);
  --wd-sys-color-surface-variant: rgb(224 227 227);
  --wd-sys-color-on-surface-variant: rgb(68 71 72);
  --wd-sys-color-outline: rgb(116 120 120);
  --wd-sys-color-outline-variant: rgb(196 199 199);
  --wd-sys-color-shadow: rgb(0 0 0);
  --wd-sys-color-scrim: rgb(0 0 0);
  --wd-sys-color-inverse-surface: rgb(49 48 48);
  --wd-sys-color-inverse-on-surface: rgb(244 240 239);
  --wd-sys-color-inverse-primary: rgb(198 198 199);
  --wd-sys-color-primary-fixed: rgb(226 226 226);
  --wd-sys-color-on-primary-fixed: rgb(26 28 28);
  --wd-sys-color-primary-fixed-dim: rgb(198 198 199);
  --wd-sys-color-on-primary-fixed-variant: rgb(69 71 71);
  --wd-sys-color-secondary-fixed: rgb(229 226 225);
  --wd-sys-color-on-secondary-fixed: rgb(27 28 28);
  --wd-sys-color-secondary-fixed-dim: rgb(200 198 197);
  --wd-sys-color-on-secondary-fixed-variant: rgb(71 71 70);
  --wd-sys-color-tertiary-fixed: rgb(211 227 255);
  --wd-sys-color-on-tertiary-fixed: rgb(8 28 51);
  --wd-sys-color-tertiary-fixed-dim: rgb(181 200 230);
  --wd-sys-color-on-tertiary-fixed-variant: rgb(54 72 97);
  --wd-sys-color-surface-dim: rgb(221 217 216);
  --wd-sys-color-surface-bright: rgb(253 248 248);
  --wd-sys-color-surface-container-lowest: rgb(255 255 255);
  --wd-sys-color-surface-container-low: rgb(247 243 242);
  --wd-sys-color-surface-container: rgb(241 237 236);
  --wd-sys-color-surface-container-high: rgb(235 231 230);
  --wd-sys-color-surface-container-highest: rgb(229 226 225);
}
