.light-medium-contrast {
  --wd-sys-color-primary: rgb(53 54 55);
  --wd-sys-color-surface-tint: rgb(93 95 95);
  --wd-sys-color-on-primary: rgb(255 255 255);
  --wd-sys-color-primary-container: rgb(108 109 109);
  --wd-sys-color-on-primary-container: rgb(255 255 255);
  --wd-sys-color-secondary: rgb(10 10 10);
  --wd-sys-color-on-secondary: rgb(255 255 255);
  --wd-sys-color-secondary-container: rgb(33 33 33);
  --wd-sys-color-on-secondary-container: rgb(173 172 171);
  --wd-sys-color-tertiary: rgb(15 34 57);
  --wd-sys-color-on-tertiary: rgb(255 255 255);
  --wd-sys-color-tertiary-container: rgb(38 56 80);
  --wd-sys-color-on-tertiary-container: rgb(182 201 231);
  --wd-sys-color-error: rgb(105 23 24);
  --wd-sys-color-on-error: rgb(255 255 255);
  --wd-sys-color-error-container: rgb(178 77 74);
  --wd-sys-color-on-error-container: rgb(255 255 255);
  --wd-sys-color-background: rgb(252 248 248);
  --wd-sys-color-on-background: rgb(28 27 27);
  --wd-sys-color-surface: rgb(253 248 248);
  --wd-sys-color-on-surface: rgb(17 17 17);
  --wd-sys-color-surface-variant: rgb(224 227 227);
  --wd-sys-color-on-surface-variant: rgb(51 55 55);
  --wd-sys-color-outline: rgb(79 83 84);
  --wd-sys-color-outline-variant: rgb(106 110 110);
  --wd-sys-color-shadow: rgb(0 0 0);
  --wd-sys-color-scrim: rgb(0 0 0);
  --wd-sys-color-inverse-surface: rgb(49 48 48);
  --wd-sys-color-inverse-on-surface: rgb(244 240 239);
  --wd-sys-color-inverse-primary: rgb(198 198 199);
  --wd-sys-color-primary-fixed: rgb(108 109 109);
  --wd-sys-color-on-primary-fixed: rgb(255 255 255);
  --wd-sys-color-primary-fixed-dim: rgb(83 85 85);
  --wd-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-secondary-fixed: rgb(110 109 108);
  --wd-sys-color-on-secondary-fixed: rgb(255 255 255);
  --wd-sys-color-secondary-fixed-dim: rgb(85 84 84);
  --wd-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-tertiary-fixed: rgb(92 110 137);
  --wd-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --wd-sys-color-tertiary-fixed-dim: rgb(68 86 111);
  --wd-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-surface-dim: rgb(201 198 197);
  --wd-sys-color-surface-bright: rgb(253 248 248);
  --wd-sys-color-surface-container-lowest: rgb(255 255 255);
  --wd-sys-color-surface-container-low: rgb(247 243 242);
  --wd-sys-color-surface-container: rgb(235 231 230);
  --wd-sys-color-surface-container-high: rgb(224 220 219);
  --wd-sys-color-surface-container-highest: rgb(212 209 208);
}
