.dark-medium-contrast {
  --wd-sys-color-primary: rgb(209 219 255);
  --wd-sys-color-surface-tint: rgb(178 197 255);
  --wd-sys-color-on-primary: rgb(9 35 85);
  --wd-sys-color-primary-container: rgb(123 143 200);
  --wd-sys-color-on-primary-container: rgb(0 0 0);
  --wd-sys-color-secondary: rgb(214 220 243);
  --wd-sys-color-on-secondary: rgb(31 37 54);
  --wd-sys-color-secondary-container: rgb(138 144 165);
  --wd-sys-color-on-secondary-container: rgb(0 0 0);
  --wd-sys-color-tertiary: rgb(247 209 243);
  --wd-sys-color-on-tertiary: rgb(54 29 54);
  --wd-sys-color-tertiary-container: rgb(168 134 165);
  --wd-sys-color-on-tertiary-container: rgb(0 0 0);
  --wd-sys-color-error: rgb(255 210 204);
  --wd-sys-color-on-error: rgb(84 0 3);
  --wd-sys-color-error-container: rgb(255 84 73);
  --wd-sys-color-on-error-container: rgb(0 0 0);
  --wd-sys-color-background: rgb(18 19 24);
  --wd-sys-color-on-background: rgb(226 226 233);
  --wd-sys-color-surface: rgb(18 19 24);
  --wd-sys-color-on-surface: rgb(255 255 255);
  --wd-sys-color-surface-variant: rgb(69 70 79);
  --wd-sys-color-on-surface-variant: rgb(219 219 230);
  --wd-sys-color-outline: rgb(176 177 187);
  --wd-sys-color-outline-variant: rgb(142 144 153);
  --wd-sys-color-shadow: rgb(0 0 0);
  --wd-sys-color-scrim: rgb(0 0 0);
  --wd-sys-color-inverse-surface: rgb(226 226 233);
  --wd-sys-color-inverse-on-surface: rgb(41 42 47);
  --wd-sys-color-inverse-primary: rgb(49 70 122);
  --wd-sys-color-primary-fixed: rgb(218 226 255);
  --wd-sys-color-on-primary-fixed: rgb(0 15 50);
  --wd-sys-color-primary-fixed-dim: rgb(178 197 255);
  --wd-sys-color-on-primary-fixed-variant: rgb(30 52 102);
  --wd-sys-color-secondary-fixed: rgb(220 226 249);
  --wd-sys-color-on-secondary-fixed: rgb(10 17 33);
  --wd-sys-color-secondary-fixed-dim: rgb(192 198 221);
  --wd-sys-color-on-secondary-fixed-variant: rgb(48 54 72);
  --wd-sys-color-tertiary-fixed: rgb(254 215 249);
  --wd-sys-color-on-tertiary-fixed: rgb(31 8 32);
  --wd-sys-color-tertiary-fixed-dim: rgb(225 187 221);
  --wd-sys-color-on-tertiary-fixed-variant: rgb(72 45 72);
  --wd-sys-color-surface-dim: rgb(18 19 24);
  --wd-sys-color-surface-bright: rgb(67 68 74);
  --wd-sys-color-surface-container-lowest: rgb(6 7 12);
  --wd-sys-color-surface-container-low: rgb(28 29 35);
  --wd-sys-color-surface-container: rgb(38 40 45);
  --wd-sys-color-surface-container-high: rgb(49 50 56);
  --wd-sys-color-surface-container-highest: rgb(60 61 67);
}
