.dark-high-contrast {
  --wd-sys-color-primary: rgb(237 239 255);
  --wd-sys-color-surface-tint: rgb(178 197 255);
  --wd-sys-color-on-primary: rgb(0 0 0);
  --wd-sys-color-primary-container: rgb(173 193 253);
  --wd-sys-color-on-primary-container: rgb(0 9 38);
  --wd-sys-color-secondary: rgb(237 239 255);
  --wd-sys-color-on-secondary: rgb(0 0 0);
  --wd-sys-color-secondary-container: rgb(188 194 217);
  --wd-sys-color-on-secondary-container: rgb(5 11 27);
  --wd-sys-color-tertiary: rgb(255 234 250);
  --wd-sys-color-on-tertiary: rgb(0 0 0);
  --wd-sys-color-tertiary-container: rgb(221 183 217);
  --wd-sys-color-on-tertiary-container: rgb(24 3 26);
  --wd-sys-color-error: rgb(255 236 233);
  --wd-sys-color-on-error: rgb(0 0 0);
  --wd-sys-color-error-container: rgb(255 174 164);
  --wd-sys-color-on-error-container: rgb(34 0 1);
  --wd-sys-color-background: rgb(18 19 24);
  --wd-sys-color-on-background: rgb(226 226 233);
  --wd-sys-color-surface: rgb(18 19 24);
  --wd-sys-color-on-surface: rgb(255 255 255);
  --wd-sys-color-surface-variant: rgb(69 70 79);
  --wd-sys-color-on-surface-variant: rgb(255 255 255);
  --wd-sys-color-outline: rgb(239 239 250);
  --wd-sys-color-outline-variant: rgb(193 194 204);
  --wd-sys-color-shadow: rgb(0 0 0);
  --wd-sys-color-scrim: rgb(0 0 0);
  --wd-sys-color-inverse-surface: rgb(226 226 233);
  --wd-sys-color-inverse-on-surface: rgb(0 0 0);
  --wd-sys-color-inverse-primary: rgb(49 70 122);
  --wd-sys-color-primary-fixed: rgb(218 226 255);
  --wd-sys-color-on-primary-fixed: rgb(0 0 0);
  --wd-sys-color-primary-fixed-dim: rgb(178 197 255);
  --wd-sys-color-on-primary-fixed-variant: rgb(0 15 50);
  --wd-sys-color-secondary-fixed: rgb(220 226 249);
  --wd-sys-color-on-secondary-fixed: rgb(0 0 0);
  --wd-sys-color-secondary-fixed-dim: rgb(192 198 221);
  --wd-sys-color-on-secondary-fixed-variant: rgb(10 17 33);
  --wd-sys-color-tertiary-fixed: rgb(254 215 249);
  --wd-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --wd-sys-color-tertiary-fixed-dim: rgb(225 187 221);
  --wd-sys-color-on-tertiary-fixed-variant: rgb(31 8 32);
  --wd-sys-color-surface-dim: rgb(18 19 24);
  --wd-sys-color-surface-bright: rgb(79 80 86);
  --wd-sys-color-surface-container-lowest: rgb(0 0 0);
  --wd-sys-color-surface-container-low: rgb(30 31 37);
  --wd-sys-color-surface-container: rgb(47 48 54);
  --wd-sys-color-surface-container-high: rgb(58 59 65);
  --wd-sys-color-surface-container-highest: rgb(69 70 76);
}
