.light-high-contrast {
  --wd-sys-color-primary: rgb(18 42 92);
  --wd-sys-color-surface-tint: rgb(72 93 146);
  --wd-sys-color-on-primary: rgb(255 255 255);
  --wd-sys-color-primary-container: rgb(50 71 123);
  --wd-sys-color-on-primary-container: rgb(255 255 255);
  --wd-sys-color-secondary: rgb(38 44 61);
  --wd-sys-color-on-secondary: rgb(255 255 255);
  --wd-sys-color-secondary-container: rgb(67 73 91);
  --wd-sys-color-on-secondary-container: rgb(255 255 255);
  --wd-sys-color-tertiary: rgb(61 35 61);
  --wd-sys-color-on-tertiary: rgb(255 255 255);
  --wd-sys-color-tertiary-container: rgb(92 64 91);
  --wd-sys-color-on-tertiary-container: rgb(255 255 255);
  --wd-sys-color-error: rgb(96 0 4);
  --wd-sys-color-on-error: rgb(255 255 255);
  --wd-sys-color-error-container: rgb(152 0 10);
  --wd-sys-color-on-error-container: rgb(255 255 255);
  --wd-sys-color-background: rgb(250 248 255);
  --wd-sys-color-on-background: rgb(26 27 33);
  --wd-sys-color-surface: rgb(250 248 255);
  --wd-sys-color-on-surface: rgb(0 0 0);
  --wd-sys-color-surface-variant: rgb(225 226 236);
  --wd-sys-color-on-surface-variant: rgb(0 0 0);
  --wd-sys-color-outline: rgb(42 44 52);
  --wd-sys-color-outline-variant: rgb(71 73 81);
  --wd-sys-color-shadow: rgb(0 0 0);
  --wd-sys-color-scrim: rgb(0 0 0);
  --wd-sys-color-inverse-surface: rgb(47 48 54);
  --wd-sys-color-inverse-on-surface: rgb(255 255 255);
  --wd-sys-color-inverse-primary: rgb(178 197 255);
  --wd-sys-color-primary-fixed: rgb(50 71 123);
  --wd-sys-color-on-primary-fixed: rgb(255 255 255);
  --wd-sys-color-primary-fixed-dim: rgb(26 48 99);
  --wd-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-secondary-fixed: rgb(67 73 91);
  --wd-sys-color-on-secondary-fixed: rgb(255 255 255);
  --wd-sys-color-secondary-fixed-dim: rgb(44 50 68);
  --wd-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-tertiary-fixed: rgb(92 64 91);
  --wd-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --wd-sys-color-tertiary-fixed-dim: rgb(68 41 68);
  --wd-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-surface-dim: rgb(184 184 191);
  --wd-sys-color-surface-bright: rgb(250 248 255);
  --wd-sys-color-surface-container-lowest: rgb(255 255 255);
  --wd-sys-color-surface-container-low: rgb(241 240 247);
  --wd-sys-color-surface-container: rgb(226 226 233);
  --wd-sys-color-surface-container-high: rgb(212 212 219);
  --wd-sys-color-surface-container-highest: rgb(198 198 205);
}
