.light {
  --wd-sys-color-primary: rgb(72 93 146);
  --wd-sys-color-surface-tint: rgb(72 93 146);
  --wd-sys-color-on-primary: rgb(255 255 255);
  --wd-sys-color-primary-container: rgb(218 226 255);
  --wd-sys-color-on-primary-container: rgb(48 69 120);
  --wd-sys-color-secondary: rgb(88 94 113);
  --wd-sys-color-on-secondary: rgb(255 255 255);
  --wd-sys-color-secondary-container: rgb(220 226 249);
  --wd-sys-color-on-secondary-container: rgb(64 70 89);
  --wd-sys-color-tertiary: rgb(115 84 113);
  --wd-sys-color-on-tertiary: rgb(255 255 255);
  --wd-sys-color-tertiary-container: rgb(254 215 249);
  --wd-sys-color-on-tertiary-container: rgb(90 61 89);
  --wd-sys-color-error: rgb(186 26 26);
  --wd-sys-color-on-error: rgb(255 255 255);
  --wd-sys-color-error-container: rgb(255 218 214);
  --wd-sys-color-on-error-container: rgb(147 0 10);
  --wd-sys-color-background: rgb(250 248 255);
  --wd-sys-color-on-background: rgb(26 27 33);
  --wd-sys-color-surface: rgb(250 248 255);
  --wd-sys-color-on-surface: rgb(26 27 33);
  --wd-sys-color-surface-variant: rgb(225 226 236);
  --wd-sys-color-on-surface-variant: rgb(69 70 79);
  --wd-sys-color-outline: rgb(117 119 128);
  --wd-sys-color-outline-variant: rgb(197 198 208);
  --wd-sys-color-shadow: rgb(0 0 0);
  --wd-sys-color-scrim: rgb(0 0 0);
  --wd-sys-color-inverse-surface: rgb(47 48 54);
  --wd-sys-color-inverse-on-surface: rgb(241 240 247);
  --wd-sys-color-inverse-primary: rgb(178 197 255);
  --wd-sys-color-primary-fixed: rgb(218 226 255);
  --wd-sys-color-on-primary-fixed: rgb(0 24 71);
  --wd-sys-color-primary-fixed-dim: rgb(178 197 255);
  --wd-sys-color-on-primary-fixed-variant: rgb(48 69 120);
  --wd-sys-color-secondary-fixed: rgb(220 226 249);
  --wd-sys-color-on-secondary-fixed: rgb(21 27 44);
  --wd-sys-color-secondary-fixed-dim: rgb(192 198 221);
  --wd-sys-color-on-secondary-fixed-variant: rgb(64 70 89);
  --wd-sys-color-tertiary-fixed: rgb(254 215 249);
  --wd-sys-color-on-tertiary-fixed: rgb(43 18 44);
  --wd-sys-color-tertiary-fixed-dim: rgb(225 187 221);
  --wd-sys-color-on-tertiary-fixed-variant: rgb(90 61 89);
  --wd-sys-color-surface-dim: rgb(218 217 224);
  --wd-sys-color-surface-bright: rgb(250 248 255);
  --wd-sys-color-surface-container-lowest: rgb(255 255 255);
  --wd-sys-color-surface-container-low: rgb(244 243 250);
  --wd-sys-color-surface-container: rgb(238 237 244);
  --wd-sys-color-surface-container-high: rgb(232 231 239);
  --wd-sys-color-surface-container-highest: rgb(226 226 233);
}
