.light-medium-contrast {
  --wd-sys-color-primary: rgb(30 52 102);
  --wd-sys-color-surface-tint: rgb(72 93 146);
  --wd-sys-color-on-primary: rgb(255 255 255);
  --wd-sys-color-primary-container: rgb(87 108 161);
  --wd-sys-color-on-primary-container: rgb(255 255 255);
  --wd-sys-color-secondary: rgb(48 54 72);
  --wd-sys-color-on-secondary: rgb(255 255 255);
  --wd-sys-color-secondary-container: rgb(103 109 129);
  --wd-sys-color-on-secondary-container: rgb(255 255 255);
  --wd-sys-color-tertiary: rgb(72 45 72);
  --wd-sys-color-on-tertiary: rgb(255 255 255);
  --wd-sys-color-tertiary-container: rgb(130 99 129);
  --wd-sys-color-on-tertiary-container: rgb(255 255 255);
  --wd-sys-color-error: rgb(116 0 6);
  --wd-sys-color-on-error: rgb(255 255 255);
  --wd-sys-color-error-container: rgb(207 44 39);
  --wd-sys-color-on-error-container: rgb(255 255 255);
  --wd-sys-color-background: rgb(250 248 255);
  --wd-sys-color-on-background: rgb(26 27 33);
  --wd-sys-color-surface: rgb(250 248 255);
  --wd-sys-color-on-surface: rgb(16 17 22);
  --wd-sys-color-surface-variant: rgb(225 226 236);
  --wd-sys-color-on-surface-variant: rgb(52 54 62);
  --wd-sys-color-outline: rgb(80 82 90);
  --wd-sys-color-outline-variant: rgb(107 109 117);
  --wd-sys-color-shadow: rgb(0 0 0);
  --wd-sys-color-scrim: rgb(0 0 0);
  --wd-sys-color-inverse-surface: rgb(47 48 54);
  --wd-sys-color-inverse-on-surface: rgb(241 240 247);
  --wd-sys-color-inverse-primary: rgb(178 197 255);
  --wd-sys-color-primary-fixed: rgb(87 108 161);
  --wd-sys-color-on-primary-fixed: rgb(255 255 255);
  --wd-sys-color-primary-fixed-dim: rgb(63 83 135);
  --wd-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-secondary-fixed: rgb(103 109 129);
  --wd-sys-color-on-secondary-fixed: rgb(255 255 255);
  --wd-sys-color-secondary-fixed-dim: rgb(78 84 103);
  --wd-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-tertiary-fixed: rgb(130 99 129);
  --wd-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --wd-sys-color-tertiary-fixed-dim: rgb(105 75 103);
  --wd-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --wd-sys-color-surface-dim: rgb(198 198 205);
  --wd-sys-color-surface-bright: rgb(250 248 255);
  --wd-sys-color-surface-container-lowest: rgb(255 255 255);
  --wd-sys-color-surface-container-low: rgb(244 243 250);
  --wd-sys-color-surface-container: rgb(232 231 239);
  --wd-sys-color-surface-container-high: rgb(221 220 227);
  --wd-sys-color-surface-container-highest: rgb(209 209 216);
}
